<!DOCTYPE html>
<html>
  <head>
    <title>OnceInAWhile</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class='loading'>
  <div class="container">
  <div style="padding-top:50px;">
          <%= render 'layouts/header' %>
          <%= yield %>
        </div>  
      </div>
    </div>
  </body>
</html>

